div
    img(src=icon alt='Informational Icon' width='32px' height='32px')
    p=message
    img(
        src='/icons/xmark-solid.svg'
        alt='Close Icon'
        width='16px'
        height='16px'
        onclick="this.parentElement.remove()"
    )
    script.
        setTimeout(() => { document.getElementById('toast-container').lastChild.remove(); }, 3000);